PYTHONUNBUFFERED=0
REDASH_LOG_LEVEL=INFO
REDASH_REDIS_URL=redis://{{ REDIS_HOST }}:{{ REDIS_PORT }}/{{ REDIS_DB_REDASH }}
POSTGRES_PASSWORD={{ DB_REDASH_PASSWORD }}
REDASH_COOKIE_SECRET={{ REDASH_COOKIE_SECRET }}
REDASH_SECRET_KEY={{ REDASH_SECRET_KEY }}
REDASH_DATABASE_URL={{ REDASH_DATABASE_URL }}
